@import "../bootstrap/functions";
@import "../overrides";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "region-common.scss";

.region-detail {
    // Region Detail Page specific styles

    // Sidebar Locations List
    .list-group-item {
        transition: all 0.2s ease;
        text-decoration: none !important;
        padding: 1rem 1.25rem; // Add explicit padding for hover background breathing room
        border-radius: 1rem !important; // Ensure rounded corners (bootstrap rounded-4 is roughly 1rem)
        border: none; // Ensure no borders if using flush

        &.list-group-item-action:hover {
            background-color: #eee !important;
            // transform: translateY(-1px);
        }
    }
}
