


$altigen-blue: #20486d;
$altigen-blue-light: #93c5fd;
$white: #ffffff;
$gray-600: #6c757d;


$primary: $altigen-blue;
$secondary: $gray-600;


$header-bg: rgba($altigen-blue, 0.85);
$header-bg-mobile: $header-bg;
$header-text: $white;
$header-text-hover: $white;

$dropdown-bg: rgba($altigen-blue, 0.95);
$dropdown-border: rgba($white, 0.1);
$dropdown-item-text: rgba($white, 0.7);
$dropdown-item-hover: $white;
$dropdown-accent: $altigen-blue-light;
