

@mixin dosis($weight: 400) {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
}

.dosis-200 { @include dosis(200); }
.dosis-300 { @include dosis(300); }
.dosis-400 { @include dosis(400); }
.dosis-500 { @include dosis(500); }
.dosis-600 { @include dosis(600); }
.dosis-700 { @include dosis(700); }
.dosis-800 { @include dosis(800); }



@mixin google-sans($weight: 400) {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

.google-sans-100 { @include google-sans(100); }
.google-sans-200 { @include google-sans(200); }
.google-sans-300 { @include google-sans(300); }
.google-sans-400 { @include google-sans(400); }
.google-sans-500 { @include google-sans(500); }
.google-sans-600 { @include google-sans(600); }
.google-sans-700 { @include google-sans(700); }
.google-sans-800 { @include google-sans(800); }
.google-sans-900 { @include google-sans(900); }



@mixin open-sans($weight: 400) {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-300 { @include open-sans(300); }
.open-sans-400 { @include open-sans(400); }
.open-sans-500 { @include open-sans(500); }
.open-sans-600 { @include open-sans(600); }
.open-sans-700 { @include open-sans(700); }
.open-sans-800 { @include open-sans(800); }

// Material Symbols
.mso, .msr, .mss {
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.mso {
  font-family: "Material Symbols Outlined" !important;
}

.msr {
  font-family: "Material Symbols Rounded" !important;
}

.mss {
  font-family: "Material Symbols Sharp" !important;
}
