.site-logo {
    // Mobile Styles (Header Only)
    .main-header & {
        @include media-breakpoint-down(sm) { // USER REQUEST: Mobile Only (< 576px)
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 23px;
            z-index: 1040;

            img {
                max-height: 100px;
            }
        }
    }

    > a {
        display: block;
        align-items: center;
        text-decoration: none;

        img {
            object-fit: contain;
            max-width: 100%;
            display: block;
            max-height: 40px;
        }
    }
}
