
@import "colors";

$enable-shadows: true;
$enable-gradients: false;
$enable-rounded: true;


$font-family-sans-serif: "Inter", system-ui, -apple-system, sans-serif;


$border-radius: 0.5rem;
$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);