.swiper-button-next,
.swiper-button-prev {
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    backdrop-filter: blur(4px);

    &::after {
        font-size: 1.2rem;
        font-weight: bold;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }
}

.swiper-button-next {
    right: 60px !important; 
    left: auto;
}

.swiper-button-prev {
    left: 60px !important;
    right: auto;
}

.swiper-pagination {
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 1;
        transition: all 0.3s ease;
        backdrop-filter: blur(4px);
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); 

        &-active {
            background-color: rgba(0, 0, 0, 0.5);
            transform: scale(1.2);
        }
    }
}
