html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

h1, h2, h3 {
    @include science-gothic(700);
}

h4, h5, h6 {
    @include dosis(600);
}

body, p {
    @include open-sans(400);
}
